body {font-family:sans-serif; margin:5%}
table {border-collapse:collapse; font-size:0.8em}
tr:nth-of-type(even) {background-color:#f3f3f3}
tr:nth-of-type(odd) {background-color:#ddd}
th {background-color:#222; color:#f3f3f3}
th,td {padding-top:3px; padding-bottom:3px; padding-left:12px; padding-right:12px}
.L {text-align:left}
.R {text-align:right}
